@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 15px;
  border: 1px solid var(--primary);
}

:root {
  --primary: rgb(31, 41, 55);
  --secondary: rgb(42, 174, 156);
}

.slick-list {
  margin: 0 -10px;
}
.slick-slide > div {
  padding: 0 10px 0 0;
}
.slick-track {
  margin-left: 0 !important;
  display: flex !important;
}
